@media screen and (min-width: 1000px) {
  .navbar {
    height: 60px;
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .navbar__logo {
    height: 60px;
    padding: 5px 0;
  }

  .desktop-nav__menu ul {
    list-style-type: none;
    margin: 0;
  }

  .desktop-nav__menu li {
    display: inline;
    line-height: 60px;
    margin-left: 1rem;
    a:hover {
      text-decoration: underline;
      color: $warm-gray;
    }
  }

  a.mobile-menu__link {
    display: none;
  }

  #mobile-nav {
    display: none;
  }

  .jumbotron {
    width: 100%;
    height: 400px;
    background-color: gainsboro;
  }

  .container {
    width: 960px;
    margin: auto;
    display: flex;
    a:hover {
      text-decoration: underline;
      color: $warm-gray;
    }
  }

  main {
    width: calc(75% - 2rem);
    h2 {
      margin: 1rem 0;
    }
  }

  h1 {
    border-bottom: 2px solid $green;
    padding-bottom: 5px;
    margin-bottom: 2rem;
  }

  .archive-description p {
    margin-top: -1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
  }

  .post {
    padding-bottom: 1rem;
    border-bottom: 2px solid gainsboro;
    margin-bottom: 1rem;
  }

  .sticky {
    border-left: 2px solid gainsboro;
    padding-left: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .page-numbers {
    border: 2px solid gainsboro;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: center;
  }

  .nav-links .prev {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .nav-links .next {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .nav-links .current {
    background-color: $coral;
    border: 2px solid $coral;
    color: white;
  }

  .sidebar {
    width: 25%;
    margin-left: 2rem;
    margin-top: 1.5rem;

    section {
      margin-bottom: 1.5rem;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    form {
      display: flex;
    }

    input {
      height: 2.5rem;
      width: calc(100% - 3rem);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border: 2px solid gainsboro;
      border-right: none;
      padding-left: 0.5rem;
    }

    button {
      height: 2.5rem;
      width: 3rem;
      background-color: $green;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      border: none;
      padding: 0;
      img {
        height: 1.25rem;
        margin: 10px;
      }
    }

    select {
      width: 100%;
    }

    ul {
      list-style-type: none;
      padding-left: 1rem;
      border-left: 2px solid gainsboro;
      margin-top: 0;
    }
  }

  footer {
    width: 100%;
    background-color: $green;
    color: white;
    padding: 1rem 0;
    margin-top: 1rem;
  }

  .footer-container {
    width: 960px;
    margin: auto;
    display: flex;
  }

  .footer-widget {
    flex-basis: 25%;
    ul {
      list-style-type: none;
      padding-left: 1rem;
      border-left: 2px solid white;
    }
    a {
      color: white;
    }
  }

  .footer-info {
    width: 960px;
    margin: auto;
    p {
      text-align: center;
      line-height: 2rem;
      margin: 0;
    }
  }
}
